<!doctype html>
<html lang="en">
    <%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
        <main id="main">
            <section id="breadcrumbs" class="breadcrumbs">
                <div class="container">
                    <div
                        class="d-flex justify-content-between align-items-center"
                    >
                        <h2>Blogs</h2>
                        <ol>
                            <li><a href="/">Home</a></li>
                            <li>Blogs</li>
                        </ol>
                    </div>
                </div>
            </section>

            <section id="blog" class="blog">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8 entries">
                            <% for(let blog of blogs) { %>
                            <article class="entry" data-aos="fade-up">
                                <div class="entry-img">
                                    <img
                                        src="<%= blog.thumbnailUrl  %>"
                                        alt=""
                                        class="img-fluid"
                                    />
                                </div>

                                <h2 class="entry-title">
                                    <a href="/blog-single"
                                        ><%= blog.title  %></a
                                    >
                                </h2>

                                <div class="entry-meta">
                                    <ul>
                                        <li class="d-flex align-items-center">
                                            <i class="icofont-user"></i>
                                            <a href="/blog-single"><%=blog.authorId.firstName  %></a>
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="icofont-wall-clock"></i>
                                            <a href="/blog-single"
                                                ><time datetime="2020-01-01"
                                                    ><%= blog.publishedAt  %></time
                                                ></a
                                            >
                                        </li>
                                        <li class="d-flex align-items-center">
                                            <i class="icofont-comment"></i>
                                            <a href="/blog-single"
                                                ><%= blog.comments.length  %>Comments</a
                                            >
                                        </li>
                                    </ul>
                                </div>

                                <div class="entry-content">
                                    <p>
                                       <%= blog.content  %>
                                    </p>
                                    <div class="read-more">
                                        <a href="/blog-single">Read More</a>
                                    </div>
                                </div>
                            </article>
                            <% } %>
                            <!-- End blog entry -->

                           

                            <div class="blog-pagination">
                                <ul class="justify-content-center">
                                    <li class="disabled">
                                        <i class="icofont-rounded-left"></i>
                                    </li>
                                    <li><a href="#">1</a></li>
                                    <li class="active"><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li>
                                        <a href="#"
                                            ><i
                                                class="icofont-rounded-right"
                                            ></i
                                        ></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- End blog entries list -->

                        <div class="col-lg-4">
                            <div class="sidebar" data-aos="fade-left">
                                <h3 class="sidebar-title">Search</h3>
                                <div class="sidebar-item search-form">
                                    <form action="">
                                        <input type="text" />
                                        <button type="submit">
                                            <i class="icofont-search"></i>
                                        </button>
                                    </form>
                                </div>
                                <!-- End sidebar search formn-->

                                <h3 class="sidebar-title">Categories</h3>
                                <div class="sidebar-item categories">
                                    <ul>
                                        <% for(let category of categories){  %>
                                        <li>
                                            <a href="#"
                                                ><%= category.title  %> </a
                                            >
                                        </li>
                                        <% } %>
                                        
                                        
                                      
                                       
                                    </ul>
                                </div>
                                <!-- End sidebar categories-->

                                <h3 class="sidebar-title">Recent Posts</h3>
                                <div class="sidebar-item recent-posts">
                                    <% for (let i=blogs.length-1;i>=0;i--) { %>
                                    <div class="post-item clearfix">
                                        <img
                                            src="<%= blogs[i].thumbnailUrl  %>"
                                            alt=""
                                        />
                                        <h4>
                                            <a href="/blog-single"
                                                ><%= blogs[i].title  %></a
                                            >
                                        </h4>
                                        <time datetime="2020-01-01"
                                            ><% blogs[i].publishedAt %></time
                                        >
                                    </div>
                                    <% } %>

                                 

                                   
                                </div>
                              
                                <!-- End sidebar tags-->
                            </div>
                            <!-- End sidebar -->
                        </div>
                        <!-- End blog sidebar -->
                    </div>
                </div>
            </section>
        </main>

        <!-- FOOTER -->
        <%- include("partials/footer") %>

        <!-- SCRIPTS -->
        <%- include("partials/scripts") %>
    </body>
</html>
