<!doctype html>
<html lang="en">
<%- include("partials/head") %>

    <body>
        <%- include("partials/navbar") %>
            <main id="main">
                <section id="breadcrumbs" class="breadcrumbs">
                    <div class="container">
                        <div class="d-flex justify-content-between align-items-center">
                            <h2>Blog</h2>
                            <ol>
                                <li><a href="/">Home</a></li>
                                <li>Blog</li>
                            </ol>
                        </div>
                    </div>
                </section>

                <section id="blog" class="blog">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 entries">

                                <article class="entry entry-single" data-aos="fade-up">
                                    <div class="entry-img">
                                        <img src="<%=blog.thumbnailUrl%>" alt="" class="img-fluid" />
                                    </div>

                                    <h2 class="entry-title">
                                        <a href="/blogs/<%= blog._id %>">
                                            <%=blog.title %>
                                        </a>
                                    </h2>
                                    <div class="entry-content">
                                        <p>
                                            <%= blog.content %>
                                        </p>


                                    </div>


                                    <div class="entry-meta">
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-user"></i>
                                                <a href="/blogs/<%= blog._id %>">
                                                    <%=blog.author.firstName %>
                                                </a>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-wall-clock"></i>
                                                <a href="/blogs/<%= blog._id %>"><time datetime="2020-01-01">
                                                        <%=blog.publishedAt %>
                                                    </time></a>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-comment"></i>
                                                <a href="/blogs/<%= blog.id %>">
                                                    <%=blog.comments.length %>Comments
                                                </a>
                                            </li>
                                        </ul>
                                    </div>


                                    <div class="entry-footer clearfix">
                                        <ul>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-user"></i>
                                                <a href="/blogs/<%= blog._id %>">
                                                    <%=blog.author.firstName %>
                                                </a>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-wall-clock"></i>
                                                <a href="/blogs/<%= blog._id %>"><time datetime="2020-01-01">
                                                        <%=blog.publishedAt %>
                                                    </time></a>
                                            </li>
                                            <li class="d-flex align-items-center">
                                                <i class="icofont-comment"></i>
                                                <a href="/blogs/<%= blog._id %>">
                                                    <%=blog.comments.length %>Comments
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="float-right share">
                                            <a href="#" class="share-btn">Share</a>
                                        </div>
                                    </div>
                                </article>
                                <!-- End blog entry -->


                                <!--  comments -->
                                <% if (blog.comments.length> 0) { %>

                                    <% blog.comments.forEach((comment)=> { %>

                                        <article class="entry entry-comments" data-aos="fade-up">
                                            <div class="entry-img">
                                                <img src="/<%= comment.author.avatarUrl %>" alt="" class="img-fluid" />
                                            </div>

                                            <h2 class="entry-title">
                                                <a href="/blogs/<%= blog._id %>">
                                                    <%= comment.content %>
                                                </a>
                                            </h2>

                                            <div class="entry-meta">
                                                <ul>
                                                    <li class="d-flex align-items-center">
                                                        <i class="icofont-user"></i>
                                                        <a href="/blogs/<%= blog._id %>">
                                                            <%= comment.author.firstName %>
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </article>
                                        <% }) %>

                                            <% } %>
                                                <!-- End blog entries list -->


                            </div>
                        </div>

                    </div>

                </section>
            </main>

            <!-- FOOTER -->
            <%- include("partials/footer") %>

                <!-- SCRIPTS -->
                <%- include("partials/scripts") %>
    </body>

</html>